<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github">
      <projectUrl><github></projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>
pipeline {
      environment {
    dotnet = &apos;./sample-mvc&apos;
  }
        agent any

    stages {
        
        stage(&apos;Clone sources&apos;) {
            steps {
                     git branch: &apos;main&apos;,
            url: &apos;<github>
            }
        }
        stage(&apos;Restore&apos;) {
            steps {
                sh &apos;dotnet restore $dotnet&apos;
            }
        }
        stage(&apos;Build&apos;) {
            steps {
                    sh &apos;dotnet build $dotnet&apos;
                
            }
        }
        stage(&apos;Test&apos;) {
            steps {
                    sh &apos;dotnet test $dotnet&apos;
            }
        }
                stage(&apos;build and push&apos;) {
            steps {
                //sh &apos;docker tag jenkins-test_jenkins <dockerhub>&apos;
                //sh &apos;docker build --tag <dockerhub> .&apos;
                                    script {
                        docker.withRegistry(&apos;https://registry-1.docker.io/v2/&apos;, &apos;39892a7d-9e99-46a9-89a3-a4cd2c253075&apos;){
                            def dockerImage = docker.build(&apos;<dockerhub>&apos;)
                            dockerImage.push()
                        }
                    }
            }
        }
        
                        stage(&apos;deploy&apos;) {
            steps {
                    sh &quot;docker-compose up --build -d&quot;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>